html {

    margin: 0;
    padding: 0;
    background-color: #f8c8dc;
}


#game-box{

    margin: 75px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0 4px 8px 0;
    background-color: #65cbe9;
    width: 60vw;
    margin-left: 285px;
}

main {

    margin: 80px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0 4px 8px 0;
    background-color: #65cbe9;
    width: 60vw;
    margin-left: 300px;
}



.hide {

    display: none;
}

#timer {
    font-size: 40px;
    text-align: center;
}



#timeUp {

    font-size: 60px;
    text-align: center;
}